@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">错误.</h1>
<h2 class="text-danger">处理您的请求时发生错误。</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>请求 ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    切换到 <strong>开发</strong> 环境显示有关发生的错误的详细信息。
</p>
<p>
    <strong>不应为已部署的应用程序启用开发环境。</strong>
    它可能导致向最终用户显示来自异常的敏感信息。
    对于本地调试，启用 <strong>开发</strong> 通过设置环境 <strong>ASPNETCORE_ENVIRONMENT</strong> 环境变量到 <strong>Development</strong>
    并重新启动应用程序。
</p>